<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tq.springboot.mapper.ExameMapper">
    <select id="selectExameList" resultType="com.tq.springboot.entity.ExaminationInfo">
        select id,exam_id,tag from examination_info
    </select>

    <select id="selectDataRecord" resultType="com.tq.springboot.entity.DataRecord">
        select * from data_record where
          <![CDATA[
            create_time >= #{startTime}
        AND create_time < #{endTime}
        ]]>
    </select>
</mapper>